<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NavMenu</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="navmenulistcontainer">
      <div class="navmenulist">
        <div><a href="#">मुख्य पृष्ठ</a></div>
        <div><a href="#">पीएससीडीसीएल बद्दल</a></div>
        <div><a href="#">पुणे शहरासाठी निवड प्रक्रिया</a></div>
        <div><a href="#">स्मार्ट सिटी प्रकल्प</a></div>
      </div>
      `
      <div>
        <input type="checkbox" id="active" />
        <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
        <div class="wrapper">
          <div>
            <div>
              <div><a href="#">मुख्य पृष्ठ</a></div>
              <div><a href="#">पीएससीडीसीएल बद्दल</a></div>
              <div><a href="#">पुणे शहरासाठी निवड प्रक्रिया</a></div>
              <div><a href="#">स्मार्ट सिटी प्रकल्प</a></div>
              <div><a href="#">निविदा</a></div>
              <div><a href="#">माहितीचा अधिकार</a></div>
              <div><a href="#">जाहीर प्रकटन</a></div>
              <div><a href="#">तक्रार</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="title">Fullscreen Overlay Navigation Bar</div>
      <p>using only HTML & CSS</p>
    </div>
  </body>
</html>
